#Any line started with a '#' or '//' is ignored.
#If it is desired, multiple files for configurations can be used.
#Also, inside the configs folder it's possible to have multiple sub-folders, with each folder representing a different client configuration.

#server structure
multiServer = true
#multiServer = false
globalIndex = true
#ip1:port1 ip2:port2 ip3:port ...
servers = localhost:8087 localhost:8088 localhost:8089 localhost:8090 localhost:8091 
#servers = localhost:8087

#tests
scale = 0.01
#folder with the table data
folder = /Users/a.rijo/Documents/University_6th_year/potionDB_docs/

#debugging
memDebug = false
profiling = false

#behaviour
doDataLoad = true
doQueries = false
doUpdates = false
nUpdateFiles = 1000

#queries
queryPrint = false
queryClients = 8
#milliseconds
queryDuration = 60000
queryWait = 3000
queryBench = true
queries = 3 5 11 14 18
withUpdates = true

#data structure
indexFullData = true
crdtPerObj = false
useTopKAll = false
splitIndexLoad = true

#others
updsPerProto = 1000
maxBuffProtos = 500
forceMemClean = 100000
